@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #d6cdee;
  color: rgb(87, 87, 87);
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 20px;

  border-bottom: 2px #7e62cb solid;
  position: relative;
}
#header-img {
  width: 75px;
  height: 75px;
}
#header-text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 50px;
}
/*Section*/

.card {
  display: grid;
  grid-template-columns: repeat(2fr, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "card-principal card-sobre" "card-principal button";
  grid-gap: 20px;
  flex-wrap: wrap;
  margin: 50px;
}
#card-principal {
  grid-area: card-principal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  height: auto;
  margin-bottom: 20px;
  border: 2px solid #8e75d1;

  transition: 0.4s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.card-item:hover {
  transform: scale(1.1);
  border: 2px solid white;
}
.card-sobre {
  grid-area: card-sobre;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 300px;
  border-radius: 10%;
}
#card-sobre-title {
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  text-align: center;
}
.card-title {
  font-weight: bold;
  background-color: #7e62cb;
  width: 100%;
  color: white;
}
.card-subtitle {
  background-color: #8e75d1;
  color: white;
}
.button {
  grid-area: button;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  gap: 10px;
}
#button-love {
  background-color: #8e75d1;
  border: 2px solid #8e75d1;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  padding: 7px;
  transition: 0.4s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#button-love:hover {
  transform: scale(1.2);
  border: 2px solid white;
}
#section-title {
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  margin: 10px;
}
.card-sobre-img {
  width: 200px;
  height: 200px;
}
.card-img {
  width: 100%;
  height: 100%;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  border-top: 2px #7e62cb solid;
  position: relative;
}
#footer-img {
  width: 75px;
  height: 75px;
  padding-top: 10px;
}
#footer-text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 50px;
}
@media (max-width: 500px) {
  #header-img {
    width: 30px;
    height: 30px;
  }
  #header-text {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20px;
  }
  .card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 50px;
  }
  #footer-img {
    width: 30px;
    height: 30px;
  }
  #footer-text {
    font-size: 20px;
  }
  #card-principal {
    align-items: center;
  }
  #section-title {
    text-align: center;
  }
  .card-sobre-subtitle {
    text-align: center;
  }
}
